@import '~spectre.css/dist/spectre.min.css';

html,body {
  height: 100%;
  width : 100%;
  overflow: hidden;
  margin : 0px;
  padding : 0px;
  background : transparent;
}

#root{
  height: 100%;
  width : 100%;
}